<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564587456261-rvdh4egtfan2g4utpbb5f5v4gtebgqsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564587456261-rvdh4egtfan2g4utpbb5f5v4gtebgqsl</string>
	<key>API_KEY</key>
	<string>AIzaSyCnu_aaqPQE8Rr4Xfp4UYXv1HB2fhdBtKs</string>
	<key>GCM_SENDER_ID</key>
	<string>564587456261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ManageMoney.swiftfirebase</string>
	<key>PROJECT_ID</key>
	<string>managemoney-468c4</string>
	<key>STORAGE_BUCKET</key>
	<string>managemoney-468c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564587456261:ios:4db689d9b2e4bc3f13f96c</string>
	<key>DATABASE_URL</key>
	<string>https://managemoney-468c4.firebaseio.com</string>
</dict>
</plist>